.lg-bg-colour{
    background-color: #E9F1FA;
}

.bg-alice-blue {
    background-color: #e9f1faff;
}

.text-ucla-blue {
    color: #3a6f8fff;
}

.bg-ucla-blue {
    background-color: #3a6f8fff;
}

.text-light-sky-blue {
    color: #a3d5ffff;
}

.bg-light-sky-blue {
    background-color: #a3d5ffff;
}

.bg-french-grey {
    background-color: #B4BBC2;
}

.text-jet {
    color: #333333ff;
}

.bg-jet {
    background-color: #333333ff;
}

.text-seasalt {
    color: #f7f7f7ff;
}

.bg-seasalt {
    background-color: #f7f7f7ff;
}

